<div class="login">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
    <div class="login-container">
      <div class="login-container-header">
        <strong>Hack Expert</strong>
      </div>
      <div class="login-container-body">
        <label for="employee">Username</label>
        <input id="employee" name="employee" type="username" aria-describedby="employee-help" pInputText [(ngModel)]="employeeEmail" required />
        <!-- <small *ngIf="!employee?.valid && (employee?.dirty || employee?.touched)">Employeeid is required</small> -->
      </div>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-danger">Login</button>

    </div>
  </form>

</div>