<div class="login">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
    <div class="login-container">
      <div class="login-container-header">
        <strong>Hack The Challenge</strong>
      </div>
      <div class="login-container-body">
        <label for="employee">Employee id</label>
        <input class="w-100" id="employee" name="employee" type="username" aria-describedby="employee-help" pInputText [(ngModel)]="employeeId" required #employee="ngModel"/>
        <small *ngIf="!employee?.valid && (employee?.dirty || employee?.touched)">employee id is required</small>
      </div>
      <div class="d-flex justify-content-center mb-2 login-container-footer">
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success p-2"><strong>Login</strong></button>
      </div>

    </div>
  </form>

</div>