
.login{
    height: 100%;
    *{
        display: block;
    }
    &-container{
        width: 30vw;
        box-shadow:0px 0px 8px 2px #888888;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        border: 1px solid #161528;
        border-radius: 4px;

        &-header{
            text-align: center;
            background-color: #D3D3D3;
            padding: 20px 20px 10px 20px;
        }
        &-body{
            padding: 0px 20px 20px 20px;
        }
        &-footer{
             .btn{
               // background-color:  #696969;
               // color: #161528;
            };
        }
    }
    
}
