
<div class="dashboard-container">
    <div class="d-flex justify-content-between mx-3 my-2">
        <button class="btn btn-success" (click)="openChallengeDialog()">New Challenge</button>
        <p-dropdown [options]="sortOptions" [(ngModel)]="selectedOption" (onChange)="sortChanged($event)"></p-dropdown>
    </div>


<ng-container *ngFor="let challenge of challenges">
<div class="card mx-3 my-2  ">
    <div class="card-body">
       <h4>{{challenge.name}} ({{challenge.createdOn | date : 'MMM d, y'}})</h4>
       <p>{{challenge.description}}</p>
       <div>
        <i class="pi pi-thumbs-up" [ngClass]="{'gold-liked': challenge.isLiked}" (click)="liked(challenge.id)"></i>
        <small class="font-weight-bold">&nbsp; ({{challenge.likesCount}})</small>
        <ng-container  *ngFor="let tag of challenge.tags">
            <p-tag class="mx-2" value="{{tag}}"></p-tag>
        </ng-container>
       </div>
      </div>
</div>
</ng-container>

</div>      

<app-new-challenge *ngIf="challengeDialogVisibility" (onSave)="reloadAfterSave()" (closeDialog)="challengeDialogVisibility = false"></app-new-challenge>