.new-challenge-form{
  
    &-section{
        padding: 0.5rem 0rem;
      
            .p-multiselect{
                width: 100%;
            }
            .validation-error{
                color: red;
                font-style: italic;
            }
    }
   
}